<h2>Projects</h2>
<hr class="header-line" />

<div class="project-container">
  <div
    class="project"
    *ngFor="let project of projects"
    [ngStyle]="
      project.activeToggle || project.isHovered == true
        ? { height: this.dynamicHeight }
        : { height: this.dynamicHeightClosed }
    "
    (hover)="({})"
  >
    <div
      class="project-content"
      (click)="project.activeToggle = !project.activeToggle"
      (mouseenter)="
        Service.isHovered = true;
        windowWidth > 576 ? (project.isHovered = true) : {}
      "
      (mouseleave)="
        Service.isHovered = false;
        windowWidth > 576 ? (project.isHovered = false) : {}
      "
    >
      <div class="name-container">
        <h3>{{ project.name }}</h3>
        <svg
          width="25"
          height="25"
          viewBox="0 0 30 30"
          xmlns="http://www.w3.org/2000/svg"
          [ngStyle]="
            project.activeToggle
              ? { transform: 'translateX(-20px) rotate(-45deg)' }
              : {}
          "
        >
          <line
            x1="15"
            y1="0"
            x2="15"
            y2="30"
            [attr.stroke]="Service.colorPrimary"
            stroke-width="2"
          />
          <line
            x1="0"
            y1="15"
            x2="30"
            y2="15"
            [attr.stroke]="Service.colorPrimary"
            stroke-width="2"
          />
        </svg>
      </div>
      <p [innerHTML]="project.description"></p>
      <p>
        This Project has been crafted using <b>{{ project.toolsUsed }}</b>
      </p>
    </div>

    <div class="button-container">
      <div
        [ngStyle]="{ border: '2px solid ' + Service.colorPrimary,  }"
        (mouseenter)="Service.isHovered = true"
        (mouseleave)="Service.isHovered = false"
      >
        <a
          [href]="project.liveLink"
          target="_blank"
          [ngStyle]="{ color: Service.colorPrimary }"
          >Live View</a
        >
      </div>
      <div
        [ngStyle]="{ border: '2px solid ' + Service.colorPrimary }"
        (mouseenter)="Service.isHovered = true"
        (mouseleave)="Service.isHovered = false"
      >
        <a
          [href]="project.gitHubLink"
          target="_blank"
          [ngStyle]="{ color: Service.colorPrimary }"
          >Visit Code</a
        >
      </div>
    </div>
  </div>
</div>
