

.header-line{
    width:50%;
    transform: translateY(-10px);
}

.project-container{

    .project{

        transition: height 500ms;
        overflow:hidden;
        margin-top:25px;
        border-bottom:5px solid ;
        .name-container{
            display: flex;
            justify-content:space-between;
            align-items:center;

            svg{
                transform: translateX(-20px);
                transition:200ms;
            }
        }
        .button-container{
          
            display:flex;
            div{
                position: relative;
                
                margin:10px;
                margin-left:0;
                width:150px;
                height:35px;
                border-radius:20px;
                display:flex;
                justify-content:center;
                align-items:center;
                a{  
                    height:100%;
                    width:100%;
                    transform: translateY(2px);
                    text-align:center;
                   font-weight:600;
                   text-decoration: none;
                }
            }
            
        }  
    }
}

@media (max-width: 36rem){
    .project{
    
    }
    svg{
        width:20px;
    }

    h3{
        font-size:1.1rem;
    }
    h2{
        font-size: 3rem;
    }
    
}