

.header-line{
    width:50%;
    transform: translateY(-10px);
}

.project-container{

    .project{
        transition: height 500ms;
        overflow:hidden;
        margin-top:25px;
        border-bottom:5px solid;
        .name-container{
            display: flex;
            justify-content:space-between;
            align-items:center;

            svg{
                transform: translateX(-20px);
                transition:200ms;
            }
        }
        .button-container{
          
            display:flex;
            div{
                position: relative;
               margin:20px;
               margin-top:10px;
               margin-left:0;
                
               
                
                align-items:center;
                a{   
                   width:100%;                                                       
                   font-weight:600;
                   text-decoration: none;
                   transform: translateX(5px);
                   text-align: center;
                   border-bottom:2px solid ; 
                  
                }
            }
            
        }
        
    }
}

@media (max-width: 36rem){
    .project{
    
    }
    svg{
        width:20px;
    }

    h3{
        font-size:1.05rem;
    }
    h2{
        font-size: 3rem;
    }
    
}