

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

h1 {
    font-size: 8rem; 
    font-weight: 600;
}

h2 {
    font-size: 4rem; 
    font-weight: 600;
}

h3 {
    font-size: 2rem; 
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

b {
    font-size: 1.125rem; 
    font-weight: 600;
}


* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
