<div
  [ngStyle]="{
    color: Service.colorPrimary,
    'background-color': Service.colorSecondary
  }"
  style="transition: all 500ms"
>
  <app-navigation></app-navigation>
  <div class="content-container">
    <app-dashboard></app-dashboard>
    <app-arrow></app-arrow>
    <p class="about-desc">
      I was born in <b>Kosovo 2005</b> and had a fine upbringing. I started
      coding when I was <b>13</b> while taking different classes and courses I
      completed high school in <b>Natural Sciences at Sami Frashëri</b>, and I
      am currently studying <b>Computer Science and Engineering</b> at
      <b>UBT</b>.
    </p>
    <app-arrow></app-arrow>
    <app-projects></app-projects>
    <app-arrow></app-arrow>
    <app-contact-page></app-contact-page>
  </div>
</div>
