

.content-container{
    width:100%;
    display: flex;
    align-items:center;
    flex-direction:column;

    app-arrow{
        margin:150px;
    }

    & > *{
        position: relative;
        z-index:2;
        width:70%;
        
    }
    p{
        width: 50%;  
        text-align: justify;
    }
}

@media (max-width: 36rem){
    p{
        width:100%;
    }
}

