<div
  class="custom-cursor"
  [ngStyle]="{ 'top.px': adjustedY, 'left.px': adjustedX }"
  [ngClass]="{ 'scale-up': Service.isHovered }"
></div>

<div
  [ngStyle]="{
    color: Service.colorPrimary,
    'background-color': Service.colorSecondary
  }"
  style="transition: all 500ms"
>
  <app-navigation></app-navigation>
  <div class="content-container">
    <app-dashboard id="dashboard"></app-dashboard>
    <app-arrow id="desc" (click)="Service.scrollToElement('desc')"></app-arrow>
    <p class="about-desc">
      Hi im <b>Orgest</b> a Software developer from <b>Pristina, Kosovo</b>. My
      journey into coding began when I was just <b>13</b>, fueled by my
      curiosity and love for technology. I am now pursuing a degree in
      <b>Computer Science and Engineering at UBT</b>. With years of experience
      gained through various classes, courses, and hands-on projects, I am
      committed to delivering high-quality solutions. Whether you're looking for
      <b>Web development</b>, <b>Software engineering</b>, or any tech-related
      project, I’m here to help you bring your vision to life.
    </p>
    <app-arrow
      (click)="Service.scrollToElement('projects')"
      id="projects"
    ></app-arrow>
    <app-projects></app-projects>
    <app-arrow (click)="Service.scrollToElement('contact')"></app-arrow>
    <app-contact-page id="contact"></app-contact-page>
  </div>
</div>
