


.navigation{
    z-index:2;
    position:fixed;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:3.5%;

    nav{
        height:100px;
        width:100%;
    }

    .nav-upper{
        display:flex;
        justify-content:space-between;
        p{
            b{
                position: relative;
                bottom:12px;
            }
        }
       
    }

    .nav-lower{
        display:flex;
        justify-content:flex-end;

        .toggleButton{
            width:30px;
            height:30px;
            border-radius:3px;
            
           

            .toggleIndicator{
                height:100%;
                width:50%;
                transition:all 200ms ease-out;
                
            }



        }
    }
}