

.contact-container{
    display: flex;
    flex-direction:column;
    margin-bottom:150px;
    hr{
        transform: translateY(-10px);
        width:50%;
    }

    .content{
        
        display:flex;
        justify-content: space-between;

        .section-1{
            min-width: 50%;
            form{
                h3{
                    margin-top:35px;
                }
                input{
                    transition:500ms;
                    margin-top:10px;
                    width:100%;
                    border: none;
                    background:none;
                    font-size:1rem;
                    padding-left:5px;
                    font-weight:500;
                }
                input:focus{
                    outline: none;
                }
                button{
                    margin-top:35px;
                    width:100%;
                    height:50px;
                    border-radius:10px;
                    border:none;
                    font-size:1.3rem;
                    font-weight:600;
                    transition:500ms;

                    &:disabled{
                        color: red;
                    }
                }
            }

        }
        .section-2{
           min-width:40%;
            transform: translateY(-20px);
            display:flex;
            flex-direction: column;
            justify-content:space-between;
            max-height:370px;

            div{
                display:flex;
                flex-direction: column;

                a{
                    text-decoration: none;
                    transition:500ms;
                   
                }
            }
            

          
        }
    }  
}

.alert{
    width:480px;
    height: 270px;
    position: fixed;
    left:calc(35vw);
    top:calc(50vh - 180px);
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    svg{
        scale:4;
    }
    h3{
        margin-top:10px;
    }
    button{
        margin-top:20px;
        width:160px;
        height:35px;
        border: none;
        border-radius:10px;
    }
}

@media (max-width: 36rem){
   hr{
    min-width: 100%;
    margin-top:10px;

   }
    .content{
        flex-direction: column;
        .section-2{
            margin-top:100px;
           transform:translateX(-30%);

           div{
            margin-top:20px;
           }            
        }     
    }

    .alert{
        width:300px;
        height:250px;
        transform: translate(-25vw,15vh);
    }
}