<div class="contact-container">
  <div>
    <h2>Let's Connect</h2>
    <hr />
  </div>
  <div class="content">
    <div class="section-1">
      <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-4">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit()"
            enctype="multipart/form-data"
          >
            <h3 for="name">What’s Your Name ?</h3>
            <input
              (mouseenter)="Service.isHovered = true"
              (mouseleave)="Service.isHovered = false"
              [ngStyle]="{
                'border-bottom': '5px solid' + Service.colorPrimary,
                color: Service.colorPrimary
              }"
              type="text"
              [ngClass]="{
                'is-invalid': name?.invalid && (name?.touched || name?.dirty)
              }"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Name"
            />
            <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
              <small *ngIf="name?.errors?.['required']" class="text-danger"
                >Name is required</small
              >
            </div>

            <div class="form-group mb-3">
              <h3>What’s Your Email ?</h3>
              <input
                (mouseenter)="Service.isHovered = true"
                (mouseleave)="Service.isHovered = false"
                [ngStyle]="{
                  'border-bottom': '5px solid' + Service.colorPrimary,
                  color: Service.colorPrimary
                }"
                type="email"
                name="email"
                id="email"
                formControlName="email"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid': email?.invalid && email?.touched && email?.dirty
                }"
                class="form-control"
              />
              <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                <small *ngIf="email?.errors?.['required']" class="text-danger"
                  >Email is required</small
                >
                <small *ngIf="email?.errors?.['pattern']" class="text-danger"
                  >Please provide a valid email address</small
                >
              </div>
            </div>

            <h3 for="message">What’s Your Message ?</h3>
            <input
              (mouseenter)="Service.isHovered = true"
              (mouseleave)="Service.isHovered = false"
              [ngStyle]="{
                'border-bottom': '5px solid' + Service.colorPrimary,
                color: Service.colorPrimary
              }"
              placeholder="Message"
              name="message"
              id="message"
              class="form-control"
              formControlName="message"
              [ngClass]="{
                'is-invalid':
                  message?.invalid && (message?.touched || message?.dirty)
              }"
            />
            <div
              *ngIf="message?.invalid && (message?.touched || message?.dirty)"
            >
              <small *ngIf="message?.errors?.['required']" class="text-danger"
                >Message is required</small
              >
            </div>

            <div>
              <button
                [disabled]="!contactForm.valid"
                type="submit"
                (mouseenter)="Service.isHovered = true"
                (mouseleave)="Service.isHovered = false"
                type="submit"
                [ngStyle]="{
                  background: Service.colorPrimary,
                  color: Service.colorSecondary
                }"
                (click)="showAlert = true"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="section-2">
      <div>
        <h3>Contact Details</h3>
        <p>orgestpasha2005&#64;gmail.com</p>
        <a
          (mouseenter)="Service.isHovered = true"
          (mouseleave)="Service.isHovered = false"
          href=""
          download="OrgestPashaCV.pdf"
          [ngStyle]="{ color: Service.colorPrimary }"
          >Download Resume</a
        >
      </div>

      <div>
        <h3>Location</h3>
        <p>Pristina, Kosovo</p>
        <p>{{ formattedTime }}</p>
      </div>

      <div>
        <h3>Socials</h3>
        <a
          (mouseenter)="Service.isHovered = true"
          (mouseleave)="Service.isHovered = false"
          href="https://github.com/OrgestPasha"
          target="_blank"
          [ngStyle]="{ color: Service.colorPrimary }"
          >GitHub</a
        >
        <a
          (mouseenter)="Service.isHovered = true"
          (mouseleave)="Service.isHovered = false"
          href="https://www.linkedin.com/in/orgest-pasha-089342186/"
          target="_blank"
          [ngStyle]="{ color: Service.colorPrimary }"
          >Linkedin</a
        >
        <a
          (mouseenter)="Service.isHovered = true"
          (mouseleave)="Service.isHovered = false"
          href="https://www.instagram.com/orgestpashaa/"
          target="_blank"
          [ngStyle]="{ color: Service.colorPrimary }"
          >Instagram</a
        >
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showAlert"
  class="alert alert-success"
  [ngStyle]="{
    background: Service.colorSecondary,
    color: Service.colorPrimary,
    border:'1px solid' + Service.colorPrimary,
   
  }"
>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5 14L8.5 17.5L19 6.5"
      stroke="green"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
  <h3>Done</h3>
  <p>The email was sent succeessfully</p>
  <button
    (click)="showAlert = false"
    (mouseenter)="Service.isHovered = true"
    (mouseleave)="Service.isHovered = false"
  >
    <h4>OK</h4>
  </button>
</div>
